{% extends "base.html" %}

{% block title %}History{% endblock %}

{% block content %}
<div class="container">
	<div class="row justify-content-center">
		<h1>History</h1>
	</div>
	<div class="row">
		It would be cool to have some historical information about FNB here, and even maybe the history of FNB in Edmonton? 

		& maybe a page that talks a bit about anarchism in theory (& veganism I guess) and could
		link to like, the Anarchist Library and some introductory anarchism texts like Are You an Anarchist? The Answer May Surprise You. Some stuff about means=ends; anti-authoritarianism; anarchist conception of freedom (none of us are free until all of us are free); solidarity; diversity of tactics; and mutual aid. Just like basic education stuff? 
	</div>
</div>
{% endblock %}