
html, body{
	max-width: 100%;
	overflow-y: auto;
	overflow-x: hidden;
  margin: auto;
  font-size: 18px;
	
	/* animation */
	-webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
	-moz-animation: fadein 1s; /* Firefox < 16 */
	-ms-animation: fadein 1s; /* Internet Explorer */
	-o-animation: fadein 1s; /* Opera < 12.1 */
	animation: fadein 1s;
}

@keyframes fadein{
  from	{ opacity: 0; }
  to		{ opacity: 1; }
}

body {
	background: linear-gradient(to top left, #ffcc99 0%, #ffffcc 100%) fixed;
    /*background: linear-gradient(to top left, #cc66ff 0%, #66ff99 100%) fixed;*/
}

.container{
	margin-bottom: 100px;
}

