{% extends "base.html" %}

{% block title %}Affiliated Organizations{% endblock %}

{% block content %}
<div class="container">
	<div class="row" style="text-align:center" id="mission">
	    <div class="col-md-12" style="text-align: center;">
	      <h1>Affiliated Organizations</h1>
	    </div>
	</div>
	<div class="row">
		<div class="col">	
			I’m thinking we can have a section that has links to BCP, Our Initiative, Digger Society, YardShare, etc… local, Edmonton, mutual aid organizations that have some overlap with us. 

			Note - we might not want to call this page "affiliated organizations" unless we get permission from them to call them affiliated. Maybe we can call it "Cool Links" instead? Open to suggestions.
		</div>
	</div> 
</div>
{% endblock %}