{% extends "base.html" %}

{% block title %}Contact Us{% endblock %}

{% block content %}
<div class="container">
	<div class="row" style="text-align:center" id="mission">
	    <div class="col-md-12" style="text-align: center;">
	      <h1>Contact Us</h1>
	    </div>
	</div>
	<div class="row">
		<div class="col">	
			Note - I’m not sure if this is 1 or 2 pages. The way to contact us is generally through social media or email, so it might make sense to just have one page. 

			Email: 

			Twitter: 

			Instagram:

			Facebook:
		</div>
	</div> 
</div>
{% endblock %}