{% extends "base.html" %}

{% block title %}Recent and upcoming activity{% endblock %}

{% block content %}
<div class="container">
	<div class="row" style="text-align:center" id="mission">
	    <div class="col-md-12" style="text-align: center;">
	      <h1>Recent and upcoming activity</h1>
	    </div>
	</div>
	<div class="row">
		<div class="col">	
			I’m thinking here we can specify more of our “implementation details” like meals we serve. If we start doing regular meals we can put that info here. We can put details about BCP/Our Initiative meals here. Just information that shows that we are active/doing things, etc. Recent / upcoming activity. Other names for this page that I’ve played with are “What We Do” and “Operations”. Basically just describe the cool stuff we do!!
		</div>
	</div> 
</div>
{% endblock %}